.App {
  text-align: center;
  background-color: #36454f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 2rem;
}

/* HERO CSS */

.card {
  box-shadow: 0 0 7.5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 5rem;
}

.in-el {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 2.5rem;
  color: #ebeced;
}

input {
  height: 2rem;
  width: 90%;
  font-family: inherit;
}

button {
  width: 90%;
  font-family: "Averia Serif Libre";
  font-weight: 700;
}

.submit {
  height: 3rem;
  color: #20292f;
  font-size: 1rem;
}

.bookmark-img {
  width: auto;
  height: 700px;
}

.img-container {
  position: relative;
}

.form-container {
  position: absolute;
  width: 25%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

/* INFO.CSS */
.Info {
  background-color: #9ba2a7;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem;
}

.bookmarked-page {
  background-color: #c3c7ca;
}

.break {
  height: 1rem;
  width: 100%;
  background-color: #9ba2a7;
}

.title {
  font-family: "Indie Flower";
  font-size: 4rem;
  text-decoration: underline;
  color: #20292f;
}

.text {
  font-family: "Indie Flower";
  font-size: 1.7rem;
  color: #20292f;
}

.intro {
  padding: 2rem;
}

.underlined {
  text-decoration: underline;
}

.book-png {
  background-image: url(C:\Users\Acer\Desktop\decode-x-React\lesemarke\public\images\books.png);
  background-repeat: no-repeat;
  background-position: left 70%;
  position: relative;
}

.clear {
  font-size: 1.7rem;
  color: #20292f;

  position: absolute;
  top: -19%;
  left: 95%;
}

input[type="text"],
input[type="number"] {
  font-size: 20px;
  padding-left: 15px;
}
